@import '../variables.scss';

.activeRoomTitle {
  text-align: center;
  color : #fff;
  user-select: none;

}

.activeRoomUsers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  color: white;

  & .cardContainer {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
    user-select: none;
    padding-left: 10%;

    & > .card {
      background-color: $primary-secondary-background;
      max-width: 10vw;
      min-width: 15%;
      width: 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 14px;
      height: 25vh;
      -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

      & > h1 {
        font-size: 3rem;
        color: white;
        border: 1px solid $hovered;
        padding: 3vh 2vw;
        border-radius: 12px;
      }
    }
  }

  & .usersContainer {
    background-color: $primary-secondary-background;
    color: white;
    border-radius: 0.5rem;
    width: 20%;
    min-height: 80vh;

    & > p {
      font-size: 1.3rem;
      border-bottom: 1px solid $hovered;
      padding: 1rem;
      margin: 0;
    }

    & .connectedUsers {
      padding-left: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;

      & svg {
        color: $hovered;
      }
    }
  }
}